<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="StaticProxy" stopProcessing="true">
          <match url="^(assets/.+)$" />
          <action type="Rewrite" url="static.php?file={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
